<?xml version="1.0"?>
<launch>

    <arg name="id_robot" default="$(optenv ROBOT_ID)"/>
    <arg name="prefix" default="$(arg id_robot)_" if="$(eval id_robot != '')" />
    <arg name="prefix" default="" unless="$(eval id_robot != '')" />
    
    <!-- to set the map file using a package path and a filename -->
    <arg name="map_path" default="$(find rbares_localization_3d)/map" />
    <arg name="map_file" default="" />
    
    <!-- or to set directly a file path -->
    <arg name="map" default="$(arg map_path)/$(arg map_file)" />

    <arg name="map_frame" default="$(arg prefix)map" />
    <arg name="map_topic" default="mapcloud" />

    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud"
        args="$(arg map)" output="screen" respawn="true">
      <remap from="cloud_pcd" to="$(arg map_topic)" />
      <param name="frame_id" value="$(arg map_frame)" />
      <param name="latch" value="true" />
      <param name="interval" value="60" />
    </node>

</launch>
