<?xml version="1.0"?>
<launch>

    <arg name="id_robot" default="$(optenv ROBOT_ID)"/>
    <arg name="prefix" default="$(arg id_robot)_" if="$(eval id_robot != '')" />
    <arg name="prefix" default="" unless="$(eval id_robot != '')" />

    <!-- to set the config file using a package path and a filename -->
    <arg name="config_path" default="$(find rbares_localization_3d)/config" />
    <arg name="config_file" default="" />

    <!-- or to set directly a file path -->
    <arg name="config" default="$(arg config_path)/$(arg config_file)" />
   
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(arg config)" />

</launch>
