<?xml version="1.0"?>
<launch>

  <!-- Robot -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS diff)"/>
  <arg name="localization_package" default="$(optenv LOCALIZATION_PACKAGE rbares_localization)"/>

  <arg name="localization_system" default="amcl" />
  <arg name="run_icp" default="false"/>
  <arg name="run_localization_3d" default="false"/>

  <arg name="config_folder" default="$(eval find(localization_package)+'/maps')" />
  <arg name="map_file" default="empty/map_empty.yaml"/>
  <arg name="map_server_path" default="$(eval config_folder + '/' + map_file)"/>  <arg name="map_topic" default="localization" />
  <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN front_laser/scan_filtered)"/>

  <!-- What localization config package to use -->
  <arg name="launch_folder" default="$(eval find(localization_package) + '/launch')" />
  
  <!-- Files -->
  <arg name="localization_system_file" default="$(eval launch_folder + '/' + localization_system + '.launch')"/>
  <arg name="map_server_file" default="$(eval launch_folder + '/map_server.launch')"/>
  <arg name="icp_file" default="$(eval launch_folder + '/icp_pose_corrector.launch')"/>

  <!-- Robot initial position -->
  <arg name="x_init_pose" default="0"/>
  <arg name="y_init_pose" default="0"/>
  <arg name="z_init_pose" default="0"/>

  <group ns="$(arg robot_id)">

    <include file="$(arg localization_system_file)"/>

    <include file="$(arg map_server_file)">
      <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <!--include if="$(arg run_icp)" file="$(arg icp_file)"/--> 

    <!--include if="$(arg run_localization_3d)" file="$(arg localization_3d_file)">
      <arg name="id_robot" value="$(arg robot_id)" />
      <!- -arg name="prefix" value="$(arg prefix)" /- ->
      <arg name="localization_ns" value="localization_3d" />
      <arg name="map_file" value="robotnik.pcd" />
      <arg name="base_frame" value="$(arg prefix)base_footprint" />
      <arg name="points_topic" value="top_lidar/points"/>
    </include-->
  </group>
</launch>
