<?xml version="1.0"?>
<launch>

    <arg name="id_robot" default="$(optenv ROBOT_ID)"/>
    <arg name="prefix" default="$(arg id_robot)_" if="$(eval id_robot != '')" />
    <arg name="prefix" default="" unless="$(eval id_robot != '')" />

    <arg name="base_frame" default="$(arg prefix)base_link" />
    <arg name="odom_frame" default="$(arg prefix)odom" />

    <arg name="broadcast_tf" default="true" />

    <node pkg="aloam_velodyne" type="alaserOdometry" name="lidar_odometry" output="screen" >
        <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
        <param name="mapping_skip_frame" type="int" value="1" />
        
        <!-- aloam nodes have been modified to look for parameters in the tree
            so if they are already defined in a parent ns, it is not needed to do it here -->
        <param name="base_frame" value="$(arg base_frame)" />
        <param name="odom_frame" value="$(arg odom_frame)" />

        <param name="broadcast_tf" value="$(arg broadcast_tf)" />
    </node>

</launch>
