<?xml version="1.0"?>
<launch>
    
    <arg name="id_robot" default="$(optenv ROBOT_ID)"/>
    <arg name="prefix" default="$(arg id_robot)_" if="$(eval id_robot != '')" />
    <arg name="prefix" default="" unless="$(eval id_robot != '')" />

    <arg name="base_frame" default="$(arg prefix)base_link" />
    <arg name="points_topic" default="points" />

    <node pkg="aloam_velodyne" type="ascanRegistration" name="scan_registration" output="screen">
        <!-- number of scans per cloud -->
        <param name="scan_line" type="int" value="16" />
        <!-- remove too closed points -->
        <param name="minimum_range" type="double" value="0.3"/>
        
        <!-- aloam nodes have been modified to look for parameters in the tree
            so if they are already defined in a parent ns, it is not needed to do it here -->
        <param name="base_frame" value="$(arg base_frame)" />
        <remap from="points" to="$(arg points_topic)" />
    </node>

</launch>
